body {
    background-image: url(/Images/Lined\ Paper\ Background\ Yellow\ lined\ paper\ by\ andie200.png);
    background-size: 900px 400px;
    max-width: inherit;
    background-attachment: fixed;
    background-size: 100% 100%;;

}
h1 {
    text-align: center;
    height: 100px;
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 70pxpx;
}
#gameboard {
    display: grid;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 2px

}
.box {
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: 'Permanent Marker', cursive;
}
.stickfigure1 {
    display: flex;
    justify-content: left;
    width: 10px;
    height: 10px
}
    